body {
    text-align: center;
    font-family: Times New Roman, Times, serif;
    background: #171618;
    color:  #dca54d;
    margin: 0;
    padding: 20px;
}
header {
    background: #171618;
}
h1{
    color: #dca54d;
    margin-bottom: 10px;
}

h2 {
    color: #dca54d;
    margin-bottom: 20px;
}
section,div{
    background: #171618;
    color:  #dca54d;
}